    body{
        margin: 0%;
        padding: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: "Sofia Sans Condensed";
        font-style: normal;
        user-select: none;
    }
    body>h1{
        height: 100px;
        text-align: center;
    }
    .material-symbols-outlined{
        width: 100px;
        height: 200px;
        text-align: center;
        border-style: none;
        background: none;
        font-size: 500%;
        font-weight: 1000;
        margin: 0%;
        padding: 0%;
    }
    .material-symbols-outlined:focus{
        border-style: none;
        background: none;
    }
    .material-symbols-outlined::selection{
        border-style: none;
        background: none;
    }
    .SpecialEffectBlock{
        border-radius: 1000%;
        display: none;
        width: 100px;
        height: 100px;
        z-index: -2;
        margin: 0%;
        padding: 0%;
        position:fixed;
        top: 250px;
        
    }
    .SpecialEffectActivation{
        border-radius: 1000%;
        border-style: solid;
        border-color: #00849a;
        opacity: 0%;
        display: block;
        width: 100px;
        height: 100px;
        z-index: -2;
        animation: SpecialEffect 1s ease-out;
        top: 200px;
        position:fixed;
    }
    .SpecialEffectActivationTwo{
        border-radius: 1000%;
        border-style: solid;
        border-color: #ffed00;
        opacity: 0%;
        display: block;
        width: 100px;
        height: 100px;
        z-index: -2;
        animation: SpecialEffect 1s ease-out;
        animation-delay: 0.5s;
        top: 200px;
        position:fixed;
    }
    .SpecialEffectActivationThree{
        border-radius: 1000%;
        border-style: solid;
        border-color: #00849a;
        opacity: 0%;
        display: block;
        width: 100px;
        height: 100px;
        z-index: -2;
        animation: SpecialEffect 1s ease-out;
        animation-delay: 1.0s;
        top: 200px;
        position:fixed;
    }
    #Shakey{
        animation-name: Bounce;
        animation-duration: 0.25s;
        animation-fill-mode: both;
        animation-iteration-count: infinite;
        color: red;
    }

    @keyframes SpecialEffect {
        0%{
            opacity: 0%;
            transform: scale(100%);
        }
        85%{
            opacity: 100%;
            transform: scale(150%);
        }
        100%{
            opacity: 0%;
            transform: scale(200%);
        }
    }
    @keyframes Bounce {
        0%{
            transform: translateX(0cm);
        }
        25%{
            transform: translateX(0.2cm);
        }
        50%{
            transform: translateX(0cm);
        }
        75%{
            transform: translateX(-0.2cm);
        }
        100%{
            transform: translateX(0cm);
        }
    }